$black: #111111;
$light-blue: #7a94a5;

$color3: #ffc00f;
$color4: #ff9a03;

$dark-green: #0bdb97;
$light-green: #0ae998;

$super-light-gray: #ecf3f8;
$color8: #414549;


$icomoon-font-path: "../fonts" !default;

$icon-cash: "\e900";
$icon-yandex-cashbox: "\e901";
$icon-close-envelope: "\e902";
$icon-house-building: "\e903";
$icon-gift: "\e904";
$icon-paper-plane: "\e905";
$icon-telephone: "\e906";
$icon-arrow-right: "\e907";
$icon-arrow-left: "\e908";
$icon-google: "\e909";
$icon-youtube: "\e90a";
$icon-twitter: "\e90b";
$icon-facebook: "\e90c";
$icon-location: "\e90d";
$icon-checkmark: "\e90e";
$icon-close: "\e90f";
$icon-minus: "\e910";
$icon-plus: "\e911";
$icon-shopping-cart: "\e912";


