.delivery {
  padding: 9.375rem 0;
  background-color: $super-light-gray;
  
  &__col{
    width: 50%;
    float: left;
  }

  &__list {

  }

  &__item {
    margin-bottom: 3.125rem;
    font-size: 2rem;

    .marker-big{
      margin-right: 1.25rem;
    }

  }
  
}